{{ define "main" }}

<section class="banner">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="/img/banner-actualite.png" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
  <h1 class="text-black"><span class="banner-light">actualité</span></h1>
</div>
</div>
</div>
</section>

<section class="container cours-home">
  <div class="article-single">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <a href="{{ .URL }}"><h2 class="article-title">{{ .Title }}</h2></a>
        <p class="article-date">{{ .Params.jour }}</p>
        {{ range .Params.galerie }}
      <img class="article-photo" src="{{ .photo }}" alt="{{ .Title }}">
      {{ end }}
      <p>{{ .Content }}</p>
        <p class="article-lien"><a href="/actualite">Retour à l'actualité</a></p>
      </div>
    <div class="col-md-3 col-sm-12">
  {{ range first 3 (where .Data.Pages "Section" "actualite") }}
      <a href="{{ .URL }}"><img class="article-photo" src="{{ .photo }}" alt="{{ .Title }}" width="200"></a>
      <p class="article-date">{{ .Params.jour }}</p>
      <a href="{{ .URL }}"><h2 class="article-title">{{ .Title }}</h2></a>
      {{ end }}
    </div>
  </div>
</div>
</section>

{{ end }}
