/*Général*/
.green {
  background-color: rgb(202,219,63)
}
.blue {
  background-color: rgb(0,109,152)
}

.red {
  background-color: rgb(215,29,36)
}

.text-red {
  color: rgb(215,29,36);
}

.text-blue{
  color: rgb(0,109,152);
}

.text-green {
  color: rgb(202,219,63);
}

.text-white {
  color: rgb(255,255,255);
}

.text-black {
  color: rgb(0,0,0);
}

.text-center {
  text-align: center;
}

.text-thin h3 {
  font-weight: 500;
  color: rgb(172,189,33);
  font-size: 1.7rem;
}

.home-banner {
  width: 100%;
  weight: auto;
}

footer {
  background-color: #ededed;
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.link-bold a {
  font-weight: 400;
}

.haut-page {
  text-align: center;
  color: silver;
  padding: 1rem;
}

a:hover {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

a:active {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}


.btn-link:hover {
    color: black;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.icons {
  font-size: 1.5rem;
}

.icon {
  padding-top: 1rem;
}

.img-home {
  display: block;
  margin-bottom: 1rem;
}
 .content {
   font-weight: 300;
 }

.content h2 {
  font-weight: 300;;
  text-transform: uppercase;
  border-bottom: 1px solid silver;
  margin-bottom: 1.5rem;
}

.content h3 {
  font-weight: 300;
  border-bottom: 1px solid rgb(202,219,63);
  margin: 1rem;
  }

.content h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 6rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  color: rgb(215,29,36);
}

.content h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 2rem;
  color: rgb(215,29,36);
}

.content h6 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 2rem;
  color: rgb(0,109,152);
}

.content p {
  margin-left: 2rem;
}


.content ol {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 2rem;
  display: block;
  list-style-type: none;
}

.content ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 2rem;
  display: block;
}


@media (max-width: 576px) {
  .content ul {
    padding-left: 2rem;
  }
  .content ol {
    padding-left: 2rem;
  }
  .content img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .content ul {
    padding-left: 6rem;
  }
  .content ol {
    padding-left: 4rem;
  }
  .content img {
    width: 45%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.content strong {
  font-weight: 400;
}

.retour-accueil {
  text-align: center;
  padding: 1rem;
  color: silver;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

@media (max-width: 576px) {
.videos {
  width: 100%;
  height: 250px;
}
}

@media (min-width: 768px) {
.videos {
  width: 60%;
  height: 315px;
  margin-left: 6rem;
  text-align: center;
}
}

@media (max-width: 576px) {
.logo-footer {
  text-align: center;
  padding-bottom: 1rem;
}
}

@media (min-width: 768px) {
  .logo-footer {
    padding-top: 1rem;
    padding-left: 3rem;
}
}

/*banner*/
@media (max-width: 576px) {
.banner h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
}

@media (min-width: 768px) {
.banner h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: right;
}
}

@media (max-width: 576px) {
.banner-dark {
  background-color: rgba(0,0,0, 0.4);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.banner-light {
  background-color: rgba(255,255,255, 0.5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.banner-white {
  background-color: rgba(255,255,255, 1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
}

@media (min-width: 768px) {
.banner-dark {
  background-color: rgba(0,0,0, 0.4);
  padding-left: 2rem;
  padding-right: 2rem;
}

.banner-light {
  background-color: rgba(255,255,255, 0.5);
  padding-left: 2rem;
  padding-right: 2rem;
}

.banner-white {
  background-color: rgba(255,255,255, 1);
  padding-left: 2rem;
  padding-right: 2rem;
}
}

.img-banner {
  width: 100%;
}


/*cours*/

.cours-home {
  padding-top: 1rem;
}

.cours-home .card {
  margin-bottom: 2rem;
}

.horaires {
  margin-top: 1rem;
  padding-right: 2rem;
  display: block;
  text-align: left;
  font-weight: 600;
  color: rgb(0,109,152);
  list-style-type: none;
}

.card h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.placesrestantes {
  font-weight: 600;
  padding-right: 1rem;
  list-style-type: none;
  text-align: right;
  color: rgb(202,219,63);
}
.placesrestantesintro {
  font-weight: 600;
  text-align: center;
  color: rgb(202,219,63);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

.description-top {
    text-align: center;
    padding: 2rem;
}

@media (min-width: 768px) {
  .description-top {
  padding: 4rem;
}


.description-deroule {
  padding-left: 5rem;
  padding-right: 5rem;
}
}

.description {
  text-align: center;
  padding: 3rem;
}


.condition-tarifs {
  text-align: center;
  font-style: italic;
  color: gray;
}

.cours-title {
  text-align: right;
  text-decoration: uppercase;
  font-size: 6rem;
  font-weight: bold;
  font-family: sans-serif;
}

.cours-card {
  background-color:
}

.tarifs-cont {
  padding-top: 4rem;
}

.nos-tarifs {
  color: rgb(202,219,63);
  font-variant: small-caps;
}

.tarifs {
  text-align: left;
  font-weight: 600;
  color: rgb(0,109,152);
}

.list-group {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.list-group-item-fraisfixes {
  font-weight: 300;
}

.titre-cours {
  text-align: center;
  font-size: 3rem;
  color: rgb(0,109,152);
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.card {
  margin: 1rem;
}

.button-inscription {
  margin: 2rem;
}
.plaquette {
  color: rgb(0,109,152);
  padding-top: 3rem;
  font-weight: 600;
}
.pas-a-pas {
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.pas-a-pas:hover {
  font-weight: 600;
}

/* Danse classique */

.classique {
  padding-top: 2rem;
}

/* Partenaires */

.partenaire-bottom {
  border-top: .5px solid silver;
  margin-top: 3rem;
}

.partenaires h2 {
  font-weight: 600;
  border-bottom: 1px solid silver;
  margin: 1rem;
  text-align: center;
  color: gray;
}

.partenaires-highlight {
  font-weight: 300;
  margin: 4rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 2.5;
}

img[alt=dossier-de-partenariat] {
  width: 10%;
  text-align: center;
}

@media (max-width: 576px) {
.partenaires {
  text-align: center;
  margin: 0.5rem;
  font-weight: bold;
}
}

@media (min-width: 768px) {
.partenaires {
  text-align: center;
  margin: 4rem;
  font-weight: bold;
}
}

.part {
  margin-top: 2rem;
}
/*mise en forme description cours*/

.condition {
  text-align: right;
  style: italic;
  color: grey;
}

.resultat {
  font-weight: bold;
}


 /*Résultats compétition*/
.jour {
  text-align: center;
  font-weight: lighter;
  font-size: small;
}

.lieu {
  text-align: center;
}

.card-header {
  text-align: center;
  color: rgb(0,109,152);
}

.resultats-c {
  padding-top: 1rem;
}

.place {
  font-weight: 400;
  text-align: left;
}
.points {
  font-weight: 200;
  font-style: italic;
  text-align: left;
}
.nom {
  font-weight: 200;
  text-align: left;
}
.esp {
  color: white;
}
.resultats li {
  list-style: none;
}
/*Inscription*/
.lien-doc {
  font-weight: bold;
  color: rgb(0,109,152);
}
.nouveau-inscription {
  padding-top: -10rem;
}

@media (max-width: 576px) {
  .container-inscription {
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .container-inscription {
    margin: 4rem;
  }
}

/* Accueil */

.section-blue {
  background-color: RGBa(0,109,152,0.9);
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.section-icon {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}


.accueil-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.c-accueil p {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1rem;
}

@media (max-width: 576px) {
.c-accueil h1 {
  font-size: 2rem;
}
}

@media (min-width: 768px) {
.c-accueil h1 {
 font-size: 4rem;
}
}

@media (max-width: 576px) {
.c-accueil h2 {
  font-size: 0.9rem;
}
}

@media (min-width: 768px) {
  .c-accueil h2 {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
}

.logo-accueil {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
.accueil-caption {
  width: 90%;
  position: absolute;
  right: 0;
  left: 3rem;
  bottom: -1.5rem;
  top: 5rem;
  color: white;
}
}

@media (max-width: 576px) {
.accueil-caption {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 3rem;
  color: white;
}
}

.accueil-slogan {
   color: rgb(0,109,152);
   text-align: center;
   padding-top: 3rem;
}

.accueil-slogan h3 {
  font-weight: 400;
  color: black;
  font-size: 1.7rem;
}

.accueil-logo {
  text-align: center;
  padding-top: 6rem;
}

@media (max-width: 576px) {
.carousel-caption {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1.6rem;
}
}

@media (min-width: 768px) {
.carousel-caption {
  width: 90%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1.5rem;
}
}

.presidente {
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.presidente-s {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  padding-left: 3rem;
}

.container-accueil {
  padding: 1rem 3rem;
}


.card-accueil {
  height: 500px
}

.lien-accueil {
  font-style: italic;
  font-weight: 300;
}

.date-actu-accueil {
  padding: 0 1rem;
  margin: 0;
  font-size: small;
  color: silver;
  text-align: right;
}

.inscriptions {
  text-align: center;
  color: rgb(0,109,152);
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-a-la-une {
  border-style: dashed;
  border-color: rgba(0,109,152, 0.7);
}
@media (max-width: 576px) {
  .container-a-la-une {
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .container-a-la-une {
    margin: 4rem;
  }
}

.inscriptionh3 {
  padding-top: 2rem;
}

/*A la une */

.a-la-une {
  color: rgb(255,255,255);
  background-color: rgba(0,109,152, 0.7);
}

.a-la-une h1 {
  padding-left: 2rem;
}

.btn-blue {
    background-color: rgba(0,109,152, 0.8);
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);

}
.btn-blue:hover {
  background-color: rgba(0,109,152, 0.8);
  color: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3), 0 3px 3px 0 rgba(0,0,0,0.3);
  font-size: 1.02rem;
}

/* Actualité */

.article {
  padding: 0.5rem
}

.article-lien {
  text-decoration: underline;
  text-align: right;
  color: rgb(0,109,152);

}

.article-single {
 padding-top: 3rem;
 padding-bottom: 3rem;
}

.article-date {
  font-size: small;
  border-bottom: 1px solid silver;
  color: silver;
  margin-bottom: 5px;
  padding-top: 1rem;
}

@media (max-width: 768px) {
.article-ajust {
  padding-bottom:3rem;
}
}

.article-photo {
  width: 70%;
  display: block;
   margin-left: auto;
   margin-right: auto;
  padding: 0.5rem;
}

.actu {
  padding-bottom: 3rem;
}
/* Protraits */

.portraits-accueil {
  padding: 1rem
}

.portrait h2 {
  font-weight: 300;
  border-bottom: 1px solid rgb(202,219,63);
  margin: 1rem;
}

.portrait h3 {
  font-weight: 200;
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

.portraits {
  padding: 2rem;
}

.img-portait {
  display: block;
  margin-bottom: 1rem;
  width: 200px;
}

/* historique */

.historique .gallery {
  margin: 0;
}

.gallery .box {
    float: left;
    position: relative;
    /* Default: 1 tile wide */
    width: 12%;
    padding-bottom: 100%;
}

.conclusion {
  font-weight: 320;
  padding: 2rem;
}

.affiches {
  padding: 3rem;
}

.description-historique {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
}

.logo-historique {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Encadrement */

.encadrement {
  text-align: center;
}

@media (max-width: 576px) {
.enca {
  padding: 1.5rem 2rem;
}
}

@media (min-width: 768px) {
.enca {
  padding: 2.5rem 5rem;
}
}


.img-enca {
  width: 130px;
  margin-bottom: 1rem;
}
.enom {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.efonc {
  font-weight: 300;
  margin-bottom: 0;
}

.edip {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
}

.eent {
  font-size: small;
  color: rgb(0,109,152);
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}


@media (max-width: 576px) {
.admin {
  padding-left: 0rem;
  margin-top: 1rem;
  padding-right: 0rem;
}
}

@media (min-width: 768px) {
.admin {
  padding-left: 6rem;
  margin-top: 1rem;
  padding-right: 3rem;
}
}

.admin-fonc {
  text-transform: uppercase;
  color: rgb(0,109,152);
  font-weight: 500;
}

.admin-nom {
  font-weight: 300;
}

.admin-glob {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Secteur compétition */

.btn-link {
  text-decoration: none;
  color: inherit;
}

.competition {
  padding-left: 3rem;
  padding-right: 3rem;
}

.competition-titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.competition-lieu {
  font-weight: 400;
  margin-bottom: 0;
}

.competition-jour {
  font-weight: 300;
  margin-bottom: 0;
}

.competition-lien {
  margin-bottom: 0;

}

/* Qui sommes nous */

.qui {
  padding: 3rem 2rem;
}


/* Presse */

.journal {
  font-weight: 500;
  padding-left: 4rem;
}

@media (max-width: 576px) {
.journal {
  padding-left: 0rem;
}
}

.envoi {
  font-weight: 300;
  font-style: italic;
  text-align: right;
  padding: 3rem;
}

/* Nos projets */


@media (max-width: 576px) {
.savoir-plus {
  padding: 0rem;
}
}

@media (min-width: 768px) {
.savoir-plus {
  padding: 3rem;
}
}

.savoir-plus h3 {
  font-size: 1.5rem;
  padding: 2rem;
  font-weight: 500;
}

.savoir-plus p {
  font-weight: 500;
}

.savoir-plus ol {
  margin-top: .5
  font-weight: 300;rem;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  line-height: 2rem;
  display: block;
  list-style-type: none;
  font-weight: 300;
}

/* événements */

.card-event {
  border: none;
  color: black;
  font-weight: 400;
}

.card-header-event {
  border: none;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}

.card-body-event {
  font-weight: 300;
}

.btn-title {
  text-transform: uppercase;
}

.event h2 {
  font-size: 1.5rem;
}

/* photos-videos*/

.photos-videos {
  padding-left: 12rem;
  padding-right: 12rem;
}

.photos-videos h3 {
  padding: 2rem;
}

/* Stage */

.stage {
  text-align: center;
  color: rgb(50,99,173);
}

.stage h2 {
  font-size: 3rem;
}

.stage img {
  width: 70%;
  margin-bottom: 1rem;
  margin-top: -6rem;
}

@media (max-width: 960px) {
  .stage img {
    width: 100%;
    margin-top: 0;
  }
}


.stage-doc {
  padding: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(0,109,152);
}

.container-stage {
  padding: 3rem;
}

.content-stage {
  font-size: 1.1rem;
  text-align: left;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color:rgb(0,109,152)
  color: white;
}


/* gYm fitness adhérents */

.gym-fitness-adherents-infos p {
  text-align: center;

  }
.gym-fitness-adherents-infos h1 {
  font-weight: 300;
  border-bottom: 1px solid rgb(202,219,63);
  margin: 2rem;
  margin-bottom: 2rem
  }

.gym-fitness-adherents-infos h2 {
 font-weight: 400;
 padding-top: 2rem;
}

.gym-fitness-adherents-infos li {
  list-style: circle;
  margin-left: 4rem;
}
.content h2 {
  font-weight: 300;;
  text-transform: uppercase;
  border-bottom: 1px solid silver;
  margin-bottom: 1.5rem;
}

.content h3 {
  font-weight: 300;
  border-bottom: 1px solid rgb(202,219,63);
  margin: 1rem;
  }

.content h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  color: rgb(215,29,36);
}

.content h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 2rem;
  color: rgb(215,29,36);
}

.content h6 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 2rem;
  color: rgb(0,109,152);
}
