{{ define "main" }}
<section class="container cours-home">
  <div class="row">
    {{ range .Data.Pages }}
    <div class="col-sm-12 col-md-4">
    <div class="card text-center">
      <img class="card-img-top" src="{{ .Params.thumbnail }}" alt="Image {{ .Title }}">
      <div class="card-body">
        <h2>{{ .Title }}</h1>
        <p class="card-text">{{ .Description }}</p>
        <a href="{{ .URL }}" class="btn green">en savoir plus</a>
      </div>
    </div>
</div>
    {{ end }}
  </div>
</section>

{{ end }}
