<!doctype html>
<html lang="fr">
  <head>
    <title>PSLMontchat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Photoswipe css/js libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" integrity="sha256-sCl5PUOGMLfFYctzDW3MtRib0ctyUvI9Qsmq2wXOeBY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" integrity="sha256-BFeI1V+Vh1Rk37wswuOYn5lsTcaU96hGaI7OUVCLjPc=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar-nav navbar-expand-lg navbar-dark blue">
  <a class="navbar-brand" href="/"><img src="/img/logo-pslm-tout-petit-g.png" alt="PSLM" id="top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Le Club</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/qui-sommes-nous">Qui sommes-nous ?</a>
        <a class="dropdown-item" href="/historique">Notre histoire</a>
        <a class="dropdown-item" href="/nos-projets">Nos projets</a>
        <a class="dropdown-item" href="/encadrement">L'encadrement</a>
        <a class="dropdown-item" href="/portraits">Portraits</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activités</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/baby-gym">Baby-gym</a>
        <a class="dropdown-item" href="/ecole-de-gym">Ecole de Gym</a>
        <a class="dropdown-item" href="/competition">Compétition</a>
        <a class="dropdown-item" href="/gym-fit">GymFit</a>
        <a class="dropdown-item" href="/danse">Danse</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actualite">Actualité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/secteur-competition">Secteur compétition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stages">Stages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/partenaires">Espace partenaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/presse">Presse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inscription">Inscription</a>
      </li>
    </ul>
  </div>
</nav>


{{ block "main" .}}
{{ end }}

<footer class="light-grey">
  <section class="container">
    <div class="row">
    <div class="col-lg-4 col-sm-12">
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="text-center small">
    <p>{{ .Site.Params.adresse }}<p>
    <p>{{ .Site.Params.info | markdownify }}</p>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="text-center">
        <h4>Contactez nous</h4>
        <i class="icons far fa-envelope"></i>
        <h4>Suivez nous</h4>
        <i class="icons fab fa-facebook-f"></i>
      </div>
    </div>
  </div>
  </section>
</footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/js/init.js"></script>
  </body>
</html>
