<!doctype html>
<html lang="fr">
  <head>
    <title>PSLMontchat</title>
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <nav class="navbar-nav navbar-expand-lg navbar-dark blue sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="/"><img src="/img/logo-pslm-tout-petit-g.png" alt="PSLM"></a>
      <li class="nav-item">
        <a class="nav-link" href="/actualite">Actualités</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Le Club</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/qui-sommes-nous">Qui sommes-nous ?</a>
        <a class="dropdown-item" href="/historique">Notre histoire</a>
        <a class="dropdown-item" href="/nos-projets">Nos projets</a>
        <a class="dropdown-item" href="/administration">Les dirigeants</a>
        <a class="dropdown-item" href="/encadrement">L'encadrement</a>
        <a class="dropdown-item" href="/portraits">Portraits</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activités</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/baby-gym">Baby-gym</a>
        <a class="dropdown-item" href="/ecole-de-gym">Ecole de Gym</a>
        <a class="dropdown-item" href="/competition">Gym compétition</a>
        <a class="dropdown-item" href="/gym-fitness">Gym fitness</a>
        <a class="dropdown-item" href="/danse">Danse</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stages">Stages loisirs</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partenariat</a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/nos-partenaires">Nos partenaires</a>
          <a class="dropdown-item" href="/devenir-partenaire">Devenir partenaire</a>
            </div>
        </li>
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Top 12</a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/top-12-c-est-quoi">C'est quoi ?</a>
            <a class="dropdown-item" href="/saison-top-12">Saison 2022-2023</a>
            <a class="dropdown-item" href="/equipe-top-12">L'équipe du PSLM</a>
            <a class="dropdown-item" href="/sponsors-top-12">Sponsors Top 12</a>

              </div>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="/presse">Presse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inscription">Inscriptions</a>
      </li>

      <!--<span class="top-12-button">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Top 12</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/top-12">Qu'est-ce que c'est ?</a>
          <a class="dropdown-item" href="/top-12-presentation-equipe">Notre équipe Top 12</a>
        </div>
      </li>
    </span>-->
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
      <a href="/contact" target="_blank"><i class="icons far fa-envelope"style="padding:0.8rem;color:white;opacity:0.6;font-size:1.2rem;"></i>
    </li>
    <li class="nav-item">
      <a href="https://www.facebook.com/profile.php?id=100011609463221" target="_blank"><i class="fab fa-facebook-f" style="padding:0.8rem;color:white;opacity:0.6;"></i></a>
    </li>
    <li class="nav-item">
      <a href="https://www.instagram.com/pslmontchat/" target="_blank"><i class="fab fa-instagram" style="padding:0.8rem;color:white;opacity:0.6;"></i></a>
    </li>
    <li class="nav-item">
      <a href="https://www.youtube.com/channel/UCWuf80ef3Fjc6WZ6HoLjWEg" target="_blank"><i class="fab fa-youtube" style="padding:0.8rem;color:white;opacity:0.6;font-size:1.1rem;margin-right:1rem;"></i></a>
    </li>
  </ul>

   </div>


</nav>


{{ block "main" .}}
{{ end }}

<div class="haut-page"><a href="#top"><img src="/img/icon-arrow.png" alt="Haut de page" width="30px"></a></div>
<footer class="light-grey">
  <section class="container">
    <div class="row">
    <div class="col-lg-4 col-sm-12 logo-footer">
      <a href="/"><img src="/img/logo-pslm.png" alt="PSLM" width="180" class="text-center"></a>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="text-center small">
    <p>{{ .Site.Params.adresse }}<p>
    <p>{{ .Site.Params.info | markdownify }}</p>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="text-center" style="opacity: 0.8; padding-top:1rem;">
        <h4>Contactez-nous</h4>
        <a href="/contact"><i class="icons far fa-envelope"></i></a>
        <h4>Suivez-nous</h4>
        <a href="https://www.facebook.com/profile.php?id=100011609463221" target="_blank"><i class="icons fab fa-facebook-f" style="padding-right:0.7rem;"></i></a>
        <a href="https://www.youtube.com/channel/UCWuf80ef3Fjc6WZ6HoLjWEg" target="_blank"><i class="fab fa-youtube" style="font-size:1.6rem;padding-left:0.7rem;"></i></a>
      </div>
    </div>
  </div>
  </section>
  <section  class="partenaire-bottom" style="padding-left:1rem;padding-right:1rem;">
      <div class="row">
        {{ range .Site.Params.partenaire }}
        <div class="col col-lg-3 center">
          <a href="{{ .lien }}" target="_blank"><img src="{{ .img }}" width="150" alt="{{ .nom }}"></a>
        </div>
        {{ end }}
      </div>
  </section>
</footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/js/init.js"></script>
  </body>
</html>
