<section class="container">

 <div class="row justify-content-md-center tarifs-cont">
   <div class="col col-lg-2">
     <h4 class="nos-tarifs">Nos formules</h4>
   </div>
   <div class="col-md-auto">
     <div class="tarifs">
       <ul class="list-group">
         {{ range .Params.tarifs }}
         <div class="text-center">
       <li class="list-group-item">{{ .public }} - {{ .prix }}</li>
              {{ end }}
       <li class="list-group-item"><span class="list-group-item-fraisfixes">Frais fixes* (Adhésion 15€)</span> + 15€</li>
       <br>
       </div>
       <span class="list-group-item-fraisfixes"><p>*Une seule adhésion par famille, quel que soit le nombre de cours</p></span>
       <span class="list-group-item-fraisfixes"><p>Les tarifs comprennent les frais de licence à 40€</p></span>

     </ul>
     </div>
   </div>
   <div class="col col-lg-2">
   </div>
 </div>
 {{ if isset .Params "condition" }}
   <p class="condition-tarifs">{{ .Params.condition | markdownify }}</p>
   {{ end }}
</section>
