<section class="container">

 <div class="row justify-content-md-center tarifs-cont">
   <div class="col col-lg-2">
     <h4 class="nos-tarifs">Nos formules</h4>
   </div>
   <div class="col-md-auto">
     <div class="tarifs">
       <ul class="list-group">
         {{ range .Params.tarifs }}
       <li class="list-group-item">{{ .public }} - {{ .prix }}</li>
       {{ end }}
     </ul>
     </div>
   </div>
   <div class="col col-lg-2">
   </div>
 </div>
 {{ if isset .Params "condition" }}
   <p class="condition-tarifs">{{ .Params.condition | markdownify }}</p>
   {{ end }}
   <p class="placesrestantesintro">En vert sont indiquées le nombres de places restantes en inscription pour la saison 2018/2019</p>

</section>
