{{ define "main" }}

<section>
  <section class="container section">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="accueil-logo">
          <img src="/img/logo-pslm.png" alt="PSLM" width="300px">
        </div>
        <div class="accueil-slogan">
      <!--  <h3 class="accueil-slogan">{{ .Params.catchline }}</h3>-->
          <h3>Gymnastique loisir</h3>
          <h3>Gymnastique compétition</h3>
          <h3>Gymnastique fitness</h3>
          <h3>Danse</h3>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12">
        <!--<div class="accueil-slogan">
          <h2>{{ .Params.slogan }}</h2>
          <h3>{{ .Params.catchline }}</h3>
        </div>-->
        <section class="container section-icon">
          <div class="text-thin text-center">
            <div class="row">
                  {{ range .Params.icon }}
              <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="{{ .img }}" alt="{{ .nom }}" width="90px" class="icon">
                <h3><a href="{{ .lien2 }}">{{ .nom2 }}</a></h3>
                <h3><a href="{{ .lien }}">{{ .nom }}</a></h3>
              </div>
                  {{ end }}
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

 
  <!--<section class="container section">
    <div class="row">

      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="container">
          <img src="/img/djenna-bronze-monde.jpg" alt="djena-bronze-monde" width="100%">
        </div>
       </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="accueil-slogan">
      <h3><br>Fierté et félicitations à notre Djenna ! <br><br> Médaillée de bronze aux championnats du monde 2023 !</h3>
        </div>
      </div>
    </div>
  </section>-->
<!--<section class="container acceuil-infos">
  <div>
    <p class="accueil-infos">Assemblée générale du PSLM le 20 novembre 2023 à 19h, MJC de Montchat</p>
  </div>-->
<!--<section class="container section">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <h3>Top 12 - Samedi 11 novembre 2023 à 15h45<br>PSL Lyon Montchat / Beaucaire</h3>
          <img src="/img/vignette-billeterie.jpg" alt="billetterie" width="100%">
       </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <h3>Billetterie</h3>
        <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/patronage-scolaire-laique-de-montchat/evenements/top-12-ps-lyon-montchat-beaucaire/widget-vignette" style="width: 350px; height: 450px; border: none;"></iframe>
      </div>
    </div>
  </section>-->


</section>
  <section class="blue">
    <h2 class="accueil-title text-white" style="padding-top:1rem">Nos activités</h2>
    <div class="container-accueil">
      <div class="row">
        {{ range .Params.Domaines }}
        <div class="col s12 m4">
          <div class="container">
            <a href="{{ .lien }}"><p class="text-center text-blue text-activites">{{ .title }}</p></a>
            <a href="{{ .lien }}"><img class="mx-auto img-home" src="{{ .img }}" alt="Image {{ .title }}" style="height:150px;"></a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="section text-blue">
    <h2 class="accueil-title">{{ .Params.actualite }}</h2>
    <div class="container">
      <div class="row">
        {{ range first 4 (where .Data.Pages "Section" "actualite") }}
        <div class="col-lg-3 d-flex align-items-stretch col-sm-12">
          <div class="card text-center">
            <a href="{{ .URL }}"><img class="card-img-top" src="{{ .Params.galerieaccueil }}" alt="Image {{ .Title }}"></a>
            <div class="card-body">
              <div class="date-actu-accueil">    <time class="competition-jour" datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time></div>
              <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
              <a href="{{ .URL }}"><p class="card-text">{{ .Params.accueil }} [...]</p></a>
            </div>
            <div class="lien-accueil">
              <p><a href="{{ .URL }}">Lire l'article</a></p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  </section>
{{ end }}
