{{ define "main" }}
<section>
  <img class="d-block w-100" src="/img/banner-accueilcb.png" alt="PSLM">
  <div class="c-accueil">
    <div class="accueil-caption d-none d-md-block">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Subtitle }}</h2>
    </div>
  </section>


<section class="section">
  <h2 class="accueil-title">Nos activités</h2>
  <div class="container-accueil">
    <div class="row">
      {{ range .Params.Domaines }}
      <div class="col s12 m4">
        <div class="container">
          <div>
            <a href="{{ .lien }}"><img class="mx-auto img-home" src="{{ .img }}" alt="Image {{ .title }}"></a>
            <a href="{{ .lien }}"><h3 class="text-center">{{ .title }}</h3></a>
            <p class="text-center"></p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section-blue">
  <h2 class="accueil-title text-white">{{ .Params.actualite }}</h2>
  <div class="container">
    <div class="row">
      {{ range first 3 (where .Data.Pages "Section" "actualite") }}
      <div class="col-lg-4 d-flex align-items-stretch col-sm-12">
        <div class="card text-center">
          <a href="{{ .URL }}"><img class="card-img-top" src="{{ .Params.galerieaccueil }}" alt="Image {{ .Title }}"></a>
          <div class="card-body">
            <div class="date-actu-accueil">{{ .Params.jour }}</div>
            <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
            <a href="{{ .URL }}"><p class="card-text">{{ .Params.accueil }} [...]</p></a>
          </div>
          <div class="lien-accueil">
            <a href="{{ .URL }}">Lire l'article</p></a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>
</section>


<section class="container section">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="accueil-logo">
        <img src="/img/logo-pslm.png" alt="PSLM" width="200px">
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="accueil-slogan">
        <h2>{{ .Params.slogan }}</h2>
        <h3>{{ .Params.catchline }}</h3>
      </div>
    </div>
  </div>
</section>

<section class="container section">
  <div class="text-blue text-center">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3><a href="/qui-sommes-nous">Qui sommes nous ?</a></h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3><a href="/portraits">Portraits</a></h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3><a href="/nos-projets">Nos projets</a></h3>
      </div>
    </div>
  </div>
</section>

<section class="blue">
  <div class="container">
    <div class="description-top row">
      <div class="col-md-3 col-sm-12">
        <img src="{{ .Params.presidente }}" alt="{{ .Title }}" width="180">
      </div>
      <div class="col-md-9 col-sm-12 text-white">
        <h2 class="accueil-title">Le mot de la présidente</h2>
        <p class="presidente">{{ .Params.interlude2 | markdownify }}</p>
        <p class="presidente-s">{{ .Params.signature }}</p>
      </div>
    </div>
  </div>
</section>

<section class="partenaire-bottom">
  <div class="container">
    <div class="row">
      {{ range .Params.partenaire }}
      <div class="col col-lg-2">
        <a href="{{ .lien }}" target="_blank"><img src="{{ .img }}" width="150" alt="{{ .nom }}"></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
