{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

<section class="container">
{{ range .Data.Pages }}
{{ if isset .Params "elus"}}
<div class="content">
  <h3>{{ .Title }}</h3>
</div>
<div class="container enca">
  <div class="row">
    {{ range .Params.bureau }}
    <div class="col col-md-4 col-sm-12">
      <div class="encadrement">
        <img src="{{ .img }}" alt="{{ .title }}" class="img-enca">
        <p class="enom">{{ .nom }}</p>
        <p class="efonc">{{ .fonction }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ else }}
<div class="content">
  <h3>{{ .Title }}</h3>
</div>
<div class="container enca">
  <div class="container admin">
    {{ range .Params.conseil }}
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p class="admin-fonc">{{ .fonction }}</p>
      </div>
      <div class="col-md-8 col-sm-6">
        <p class="admin-nom">{{ .nom }}
        </div>
      </div>
      {{ end }}

      {{ range .Params.commission }}
      <div class="row">
        <div class="col-md-7 col-sm-6">
          <p class="admin-fonc">{{ .fonction }}</p>
        </div>
        <div class="col-md-5 col-sm-6">
          <p class="admin-nom">{{ .nom }}
          </div>
        </div>
        {{ end }}
    </div>
  </div>
{{ end }}
{{ end }}
{{ end }}
</section>
