{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}



<section class="container">
  <div class="description-deroule">
    {{ range (.Data.Pages.GroupByDate "2006-01-01").Reverse }}
      {{ dateFormat "January" .Key }} 
   {{ range .Pages.Reverse }}
<div id="accordion">

  <div class="card card-event">
    <div class="card-header card-header-event" id="heading{{ .Slug }}">
      <h5 class="mb-0">
        <button class="btn btn-link btn-title" data-toggle="collapse" data-target="#collapse{{ .Slug }}" aria-expanded="false" aria-controls="collapse{{ .Slug }}">
          {{ .Title }}
        </button>
      </h5>
    </div>
    <div id="collapse{{ .Slug }}" class="collapse" aria-labelledby="heading{{ .Slug }}" data-parent="#accordion">
      <div class="card-body card-body-event">
        {{ .Description }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
 {{end }}
</div>
</section>

{{ end }}
