{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

{{ partial "tarifs.html" . }}

<section class="container">
  <div class="warning-horaires">
    <p>ATTENTION <br> Les horaires de certains cours ont été modifié pour respecter les protocoles sanitaires mis en place par la ville de Lyon et la Fédération. <br>Ces nouveaux horaires sont fixés pour toute la saison.</p>
  </div>
</section>


{{ partial "list-cours.html" . }}

<div class="col-md-2 col-centered button-inscription mx-auto">
  <a href="/inscription"><button type="button" class="btn btn-light">INSCRIPTION</button></a>
</div>

{{ end }}
