{{ define "main"  }}

{{ partial "banner.html" . }}


<section class="container cours-home">
<div class="description-top">
<p class="lead">{{ .Description | markdownify }}</p>
</div>
</section>


<section>
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  {{ range .Data.Pages }}
  <li class="nav-item">
    <a class="nav-link {{ if eq .Weight 1 }}active{{end}}" id="{{.Params.slug}}-tab" data-toggle="tab" href="#{{.Params.slug}}" role="tab" aria-controls="{{.Params.slug }}" aria-selected="{{if eq .Weight 1}}true{{ else}}false{{end}}" >{{ .Title }}</a>
  </li>
  {{ end }}
  </ul>

</section>

<!--description activité-->
<section>
  <div class="tab-content" id="myTabContent">
    {{ range .Data.Pages }}
    <div class="tab-pane fade {{ if eq .Weight 1 }}show active{{end}}" id="{{.Params.slug}}" role="tabpanel" aria-labelledby="{{.Params.slug}}-tab">
  <div class="description">{{ .Description | markdownify}}</div>


<!--tarifs-->
<section class="container-inscription">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <h4 class="nos-tarifs">Nos formules</h4>
        </div>
        <div class="col-md-auto">
          <div class="tarifs">
            <ul class="list-group">
              {{ range .Params.tarifs }}
            <li class="list-group-item">{{ .public }} - {{ .prix }}</li>
            {{ end }}
          </ul>
          </div>
        </div>
        <div class="col col-lg-2">
        </div>
      </div>

<!--groupes et horaires-->
  <div class="row">
    <div class="col-lg-3 col-md-0 col-sm-0">
    </div>
    {{ range .Params.horaires2 }}
    <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-stretch col-centered">
    <div class="card text-center mx-auto">
      <div class="card-body">
        <h2>{{ .cours }}</h2>
          <hr>
        <p class="card-text">{{ .age }}</p>
        <hr>
        <div class="row">
        <ul class="horaires mx-auto">
          <li>{{ .jour }} {{.heures }}</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
    {{ end }}
    <div class="col-lg-3 col-md-6 col-sm-12">

    </div>
  </div>
  <div class="row">
    {{ range .Params.horaires4 }}
    <div class="col col-lg-3 col-sm-12 d-flex align-items-stretch col-centered">
    <div class="card text-center mx-auto">
      <div class="card-body">
        <h2>{{ .cours }}</h2>
          <hr>
        <p class="card-text">{{ .age }}</p>
        <hr>
        <div class="row">
        <ul class="horaires mx-auto">
          <li>{{ .jour }} {{.heures }}</li>
        </ul>
        </div>
      </div>
    </div>
    </div>
    {{ end }}
  </div>
  </section>
  {{ if isset .Params "condition" }}
<div class="container classique">
  <div class="content">
  <p>{{ .Content }}</p>
</div>
</div>
{{ end }}
<div class="col-md-2 col-centered button-inscription mx-auto">
  <a href="/inscription"><button type="button" class="btn btn-light">INSCRIPTION</button></a>
</div>
</div>
{{ end }}
</div>
</section>

{{ end }}
