{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}


<section class="container">
<div class="description-deroule">
  <div class="content link-bold">
    <p>
      <ol>
        <li>Notre site web :  <a href="https://www.pslm.fr" target="_blank">www.pslm.fr</a></li>
        <li>Notre page Facebook : <a href="https://www.facebook.com/profile.php?id=100011609463221" target="_blank">Pslm Montchat</a></li>
        <li>Notre page instagram : <a href="https://www.instagram.com/pslmontchat/" target="_blank">Pslm Montchat</a></li>
        <li>Les articles de <a href="/presse" target="_blank">Presse</a>
        <li>Nos plaquettes de présentation</li>
        <li>Nos <a href="/affiches" target="_blank">affiches</a></li>
      </ol>
  </div>
</div>
</section>

{{ end }}
