{{ define "main"  }}

{{ partial "banner.html" . }}


<section class="container cours-home">
  <div class="description-top">
    <p class="lead">{{ .Description | markdownify }}</p>
    </div>
    <div class="description-deroule gym-fitness-adherents-infos">
    <h1>Baby Gym</h1>
    <div class="description-top">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/qm9ZYorNUFY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Tf9l6P19NJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Eqpkl2vfMr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/W7be6WMTyQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <h1>Les cours proposés par la FFGym</h1>
  <p>La Fédération Française de Gym auquelle le PSLM est affilié propose des vidéos de séances à faire chez soi pendant le confinement.</p>
  <p>Retrouvez les sur leur site internet :</p>
  <a href="https://www.ffgym.fr/Exercices_Videos_Confinement" target="_blank"><p>>> www.ffgym.fr/Exercices_Videos_Confinement <<</p></a>


  </div>
</section>


{{ end }}
