{{ define "main" }}

{{ partial "banner.html" . }}

<section class="container cours-home">
<div class="description-top">
  <p class="lead">{{ .Description | markdownify }}</p>
</div>
{{ range .Data.Pages }}
{{ if isset .Params "encadrement"}}
<div class="content">
  <h3>{{ .Title }}</h3>
</div>
<div class="container enca">
  <div class="row">
    {{ range .Params.encadrement}}
    <div class="col col-md-4 col-sm-12">
      <div class="encadrement">
        <img src="{{ .img }}" alt="{{ .title }}" class="img-enca">
        <p class="enom">{{ .nom }}</p>
        <p class="efonc">{{ .fonction }}</p>
        <p class="edip">{{ .diplome }}</p>
        <p class="eent">Au PSLM depuis {{ .entree }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ else }}
<div class="content">
  <h3>{{ .Title }}</h3>
</div>
<div class="container enca">
  <div class="container admin">
    {{ range .Params.conseil }}
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p class="admin-fonc">{{ .fonction }}</p>
      </div>
      <div class="col-md-8 col-sm-6">
        <p class="admin-nom">{{ .nom }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
{{ end }}
{{ end }}
</section>
{{ end }}
