{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

<section class="container">
  <div class="description-deroule">
    <h2 class="event">Juin</h2>
<div id="accordion">
  {{ range .Data.Pages }}
  <div class="card card-event">
    <div class="card-header card-header-event" id="heading{{ .Params.slug }}">
      <h5 class="mb-0">
        <button class="btn btn-link btn-title" data-toggle="collapse" data-target="#collapse{{ .Params.slug }}" aria-expanded="false" aria-controls="collapse{{ .Params.slug }}">
          {{ .Title }}
        </button>
      </h5>
    </div>
    <div id="collapse{{ .Params.slug }}" class="collapse" aria-labelledby="heading{{ .Params.slug }}" data-parent="#accordion">
      <div class="card-body card-body-event">
        {{ .Description }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
</div>
</section>
{{ end }}
