{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

{{ partial "tarifs.html" . }}

<section class="container cours-home">
  <!--liste différents cours proposés avec horaires-->
  <div class="row">
    {{ range .Data.Pages }}
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch col-centered">
    <div class="card text-center mx-auto">
      <div class="card-body">
        <h2>{{ .Title }}</h2>
          <hr>
        <p class="card-text">{{ .Content }}</p>
        <hr>
        <div class="row">
          <ul class="mx-auto">
            {{ range .Params.horaires }}
            <li class="horaires">{{ .jour }} {{ .heures }}</li>
            <li class="placesrestantes">{{ .places }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    </div>
    {{ end }}
  </div>
  <div class="cours-visio">
    <h1><span class="nouveau">- Nouveau - </span>COURS EN VISIO</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch col-centered">
    <div class="card text-center mx-auto">
      <div class="card-body">
        <h2>Renforcement musculaire</h2>
          <hr>
        <p class="card-text">Gymnastique traditionnelle avec ou sans matériel permettant le développement, l’amélioration et l’entretien des qualités et capacités du corps.</p>
        <hr>
        <div class="row">
          <ul class="mx-auto">
            <li class="horaires">Lundi 9h - 10h</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch col-centered">
    <div class="card text-center mx-auto">
      <div class="card-body">
        <h2>Stretching</h2>
          <hr>
        <p class="card-text">Exercices d’assouplissements, d’étirements et de relaxation du corps.</p>
        <hr>
        <div class="row">
          <ul class="mx-auto">
            <li class="horaires">Lundi 10h - 11h</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch col-centered">
    <div class="card text-center mx-auto">
      <div class="card-body">
        <h2>Dépenses énergétiques - Hit</h2>
          <hr>
        <p class="card-text">Solliciter la filière cardio-respiratoire à l’aide de HIA (High Impact Aérobic), de circuit cardio cross-training, de body combat... Permet une dépense maximale de calorie.</p>
        <hr>
        <div class="row">
          <ul class="mx-auto">
            <li class="horaires">Lundi 12h15 - 13h</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-2 col-centered button-inscription mx-auto">
    <a href="/inscription"><button type="button" class="btn btn-light">INSCRIPTION</button></a>
  </div>
</section>


{{ end }}
