{{ define "main" }}

{{ partial "banner.html" . }}

<section class="container">
  <div class="description-top">
  <p class="lead">{{ .Description | markdownify }}</p>
  </div>

  <div class="description-deroule gym-fitness-adherents-infos">
    <h1>Les cours des coachs du PSLM</h1>
    <p>Téléchargez vos séances à faire à la maison :</p>
    <br>
    <a href="/doc/confinement/pslm-4-seances-maxime.pdf" target="_blank"><p>4 séances de renforcement musculaire et intensif par Maxime</p></a>
    <a href="/doc/confinement/pslm-circuit-training-anne-sophie.pdf" target="_blank"><p>Circuit training par Anne-Sophie</p></a>
    <a href="/doc/confinement/pslm-hit-marie-eve.pdf" target="_blank"><p>Le hit par Marie-Eve</p></a>
    <a href="/doc/confinement/seance-mobilite-stretching-35min-batiste.pdf" target="_blank"><p>Séance de mobilité et stretching par Batiste</p></a>
    <h1>Cours de fitness avec Vérane sur Facebook</h1>
    <p>Vérane vous propose en vidéo des exercices à faire à la maison, suivez la sur sa page Facebook :</p>
    <a href="https://www.facebook.com/VeraneFitness/" target="_blank"><p>facebook.fr/VeraneFitness</p></a>
    <div class="">

    </div>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FVeraneFitness%2Fvideos%2F901264800324260%2F&show_text=0&width=560" class="videos" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    <!--<p>{{ .Content | markdownify }}</p>-->
    <h1>Sport ludique : les jeux de l'oie</h1>
    <p>Téléchargez un des jeux à imprimer pour faire du sport seul ou à plusieurs :</p>
    <br>
    <a href="/doc/confinement/jeu-de-l-oie-du-corona.jpg" target="_blank"><p>Jeu de l'oie du Corona</p></a>
    <a href="/doc/confinement/jeu-de-l-oie-cardio.jpg" target="_blank"><p>Jeu de l'oie cardio</p></a>
    <a href="/doc/confinement/jeu-de-l-oie-du-gainage.jpg" target="_blank"><p>Jeu de l'oie du gainage</p></a>
    <a href="/doc/confinement/jeu-de-l-oie-du-gainage-2.jpg" target="_blank"><p>Jeu de l'oie du gainage 2</p></a>
    <a href="/doc/confinement/jeu-de-l-oie-de-la-forme.jpg" target="_blank"><p>Jeu de l'oie de la forme (adapté aux enfants)</p></a>
  </div>
</section>

{{ end }}
