{{ define "main" }}

{{ partial "banner.html" . }}

<section class="container cours-home">
  <div class="description-historique">
  <p class="lead">{{ .Params.Description2 | markdownify }}</p>
  </div>
  <div class="description-historique">
  <p class="lead">{{ .Description | markdownify }}</p>
  </div>
  <div class="logo-historique">
  <div class="col">
    {{ range .Params.galerie }}
    <img src="{{ .logo }}" alt="{{ .Title }}" width="200">
    {{ end }}
  </div>
</div>
  <div class="description-deroule">
    <div class="content">{{ .Content | markdownify}}</div>

<p class="conclusion">{{ .Params.conclusion | markdownify }}</p>
  </div>
</section>

<section class="affiches">
  <img src="/img/historique-affiches.png" alt="Affiches" width="100%">

    </div>

  </div>
</section>

{{ end }}
