{{ define "main" }}
<section>
<div class="carousel-inner">
  <div class="carousel-item active">
  <img class="img-banner" src="/img/banner-inscription.png" alt="{{.Title}}">
    <div class="carousel-caption d-none d-md-block">
  <h1 class="banner-text-d"><span class="banner-title-light">inscription</span></h1>
    </div>
   </div>
</div>
</section>
<section>
<div class="description-top">
<p class="lead">{{ .Description | markdownify }}</p>
</div>
  <div class="description-deroule">
  <p class="text-right font-italic">{{ .Content | markdownify }}</p>
  </div>
</section>

<section class="container">
  <h2 class="text-center">Documents d'inscription à télécharger</h2>
    <div class="container-inscription">


<div class="row">
   {{ range .Params.documents }}
<div class="col-lg-3 col-md-6 col-sm-12">
  <a href="{{ .lien }}" target="_blank"><img src="{{ .photo }}" alt="{{ .Title }}" class="img-home mx-auto rounded-circle"></a>
  <p class="text-center">{{ .nom }}</p>
</div>
{{ end }}
</div>
</div>
</section>


{{ end }}
