{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

<section class="container">
  <h2 class="text-center">Documents d'inscription à télécharger</h2>
    <div class="container-inscription">


<div class="row">
   {{ range .Params.documents }}
<div class="col-lg-3 col-md-6 col-sm-12">
  <a href="{{ .lien }}" target="_blank"><img src="{{ .photo }}" alt="{{ .Title }}" class="img-home mx-auto rounded-circle"></a>
  <p class="text-center">{{ .nom }}</p>
</div>
{{ end }}
</div>
</div>
</section>


{{ end }}
