{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

<section class="container">
  <div class="description-deroule savoir-plus">
    <div class="content">
      <h2>Pour en savoir plus</h2>
    </div>
      <h3>Un reportage de France 3 Rhône Alpes Auvergne diffusé le 02 décembre 2017</h3>
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffrance3rhonealpes%2Fvideos%2F1656731111031614%2F&show_text=0&width=560" class="videos" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      <h3>Le dossier du projet de Nouveau complexe sportif pour le PSL Montchat présent dans le programme de Mr Thierry Philip aux dernières élections municipales de 2014</h3>
    <div class="text-center">
      <a href="/doc/cahier-des-charges-gymnase-grand-projet-pslm.pdf" target="_blank"><img src="/img/icon-doc-b.png" alt="Doc" style="margin:1rem;" width="30px"></a>
      <a href="/doc/cahier-des-charges-gymnase-grand-projet-pslm.pdf" target="_blank"><p>PROGRAMME NOUVEAU COMPLEXE SPORTIF <br>Dossier Juillet 2014</p></a>
    </div>
  </div>
</section>
{{ end }}
