{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}


<section>
  <div class="partenaires">
  <h2>PARTENAIRE CLUB</h2>
  <div class="row">
  {{ range .Params.partenaire }}
  <div class="col col-lg-4">
<a href="{{ .lien }}" target="_blank"><img src="{{ .img }}" width="300" alt="{{ .nom }}"></a>
</div>
{{ end }}
</div>
</div>
</section>

<section>
  <div class="partenaires">
  <h2>PARTENAIRES Top 12</h2>
  <div class="row">
  {{ range .Params.partenairetop12 }}
  <div class="col col-lg-2">
      <div class="part">
<a href="{{ .lien }}" target="_blank"><img src="{{ .img }}" width="180" alt="{{ .nom }}"></a>
</div>
</div>
{{ end }}
</div>
</div>
</section>

{{ end }}
