{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

<section>
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  {{ range .Data.Pages }}
  <li class="nav-item">
    <a class="nav-link {{ if eq .Weight 1 }}active{{end}}" id="{{.Params.slug}}-tab" data-toggle="tab" href="#{{.Params.slug}}" role="tab" aria-controls="{{.Params.slug }}" aria-selected="{{if eq .Weight 1}}true{{ else}}false{{end}}">{{ .Title }}</a>
  </li>
  {{ end }}
  </ul>
</section>

<section>
  <div class="tab-content" id="myTabContent">
    {{ range .Data.Pages }}
    <div class="tab-pane fade {{ if eq .Weight 1 }}show active{{end}}" id="{{.Params.slug}}" role="tabpanel" aria-labelledby="{{.Params.slug}}-tab">
      <div class="container">
        <div class="photos-videos">
        <p>{{ .Content }}</p>
      </div>
      </div>
    </div>
      {{ end }}
  </div>
</section>
{{ end }}
