{{ define "main" }}
<img class="img-banner" src="/img/banner-competition.png" alt="{{.Title}}">
<section class="container cours-home">
  <h1 class="text-center text-uppercase display-4">Résultats des compétitions</h1>
  <hr>


  {{ range .Data.Pages }}
<div class="card">
  <h5 class="card-header">{{ .Title }}</h5>
  </div>
  <div class="card-body">
    <h5 class="lieu">{{ .Params.lieu }}</h5>
    <p class="jour">{{ .Params.jour }}</p>

 <!--Images article-->
    <div class="container-photo">
  <div class="row">
    <div class="col">
      <img src="{{ .Params.photo1 }}" alt="{{ .Title }}" class="img-thumbnail">
    </div>
    <div class="col order-1">
      <img src="{{ .Params.photo2 }}" alt="{{ .Title }}" class="img-thumbnail">
    </div>
    <div class="col order-12">
      <img src="{{ .Params.photo3 }}" alt="{{ .Title }}" class="img-thumbnail">
    </div>
  </div>
</div>
      <p>{{ .Params.intro }}</p>

      {{ range .Params.resultats }}
      <h6 class="card-title">{{ .categorie }}</h6>
      {{ range .athlete }}
      <ul class="resultats">
        <li>{{ .nom }} - {{ .place }}</li>
      </ul>
      {{ end }}
      {{ end }}

      <p>{{ .Params.conclusion }}</p>
  </div>
{{ end }}
</section>

{{ end }}
