{{ define "main" }}

{{ partial "banner.html" . }}

<section class="container">
  <div class="description-top">
    <p class="lead">{{ .Description | markdownify }}</p>
  </div>
</section>

<section class="container">
  {{ range .Data.Pages }}
  <div class="stage">
    <h2>{{ .Params.subtitle }}</h2>
    <h4>{{ .Params.qui }}</h4>
    <h4>{{ .Params.journee }}</h4>
    <h3>{{ .Params.heure }}</h3>
    <p>{{ .Params.ps }}</p>
    <h3>{{ .Params.tarif | markdownify }}</h3>
    <br>
    <!--<h2>{{ .Params.title }}</h2>
    <h3>{{ .Params.quand }}</h3>
    <img src="{{ .Params.img }}" alt="{{ .Params.title }}" class="text-center">
    <br>-->
    <h2>{{ .Params.title1 }}</h2>
    <h3>{{ .Params.quand1 }}</h3>
   <img src="{{ .Params.img1 }}" alt="{{ .Params.title1 }}" class="text-center">
   <br>
    <h2>{{ .Params.title2 }}</h2>
    <h3>{{ .Params.quand2 }}</h3>
    <img src="{{ .Params.img2 }}" alt="{{ .Params.title2 }}" class="text-center">
    <br>
    <h2>{{ .Params.title3 }}</h2>
    <h3>{{ .Params.quand3 }}</h3>
    <img src="{{ .Params.img3 }}" alt="{{ .Params.title3 }}" class="text-center">
    <br>
    <h2>{{ .Params.title4 }}</h2>
    <h3>{{ .Params.quand4 }}</h3>
    <img src="{{ .Params.img4 }}" alt="{{ .Params.title4 }}" class="text-center">

</div>
  {{ end }}
</section>

<section class="container">
    <div class="text-red text-center">
      <h4 style="padding-top:4rem">Inscriptions en ligne sur <a href="https://sigpas.fr/pslm" target="_blank">sigpas.fr/pslm</a></h4>
    </div>
  <div class="stage-doc">
    <h3 style="margin-bottom:2rem;">Documents à télécharger pour l'inscription</h3>
    <div class="row">
      <div class="col col-lg-4 col-md-4 col-sm-12 col-centered">
        <a href="/doc/stages/stage-autorisation.pdf" target="_blank">
          <img src="/img/icon-doc-b.png" alt="doc" width="60rem">
          <p>Autorisation parentale</p>
        </a>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-12 col-centered">
        <a href="/doc/stages/stage-fiche-sanitaire.jpg" target="_blank">
          <img src="/img/icon-doc-b.png" alt="doc" width="60rem">
          <p>Fiche sanitaire</p>
        </a>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-12 col-centered">
        <a href="/doc/stages/fiche-informations.pdf" target="_blank">
          <img src="/img/icon-doc-b.png" alt="doc" width="60rem">
          <p>Informations</p>
        </a>
      </div>
    </div>
  </div>
  <div class="condition-inscription">
    {{ .Content }}
  </div>
</section>

<!--<section class="container">
  <div class="description-deroule">
    <div class="content">
      <p>{{ .Content | markdownify }}</p>
    </div>
  </div>
</section>-->


{{ end }}
