{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "description.html" . }}

<section class="container">
  <div class="stage">
      <img src="/img/stage-paques-2018.jpg" alt="Stage pâques" style="text-center">
      <div class="container-stage">
    <div class="row">
    <div class="col col-lg-4 col-md-6 col-sm-12 col-centered">
      <a href="/img/stage-reservation-paques.pdf" target="_blank"><p>Fiche de réservation</p></a>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12 col-centered">
      <a href="/doc/stage-inscription.pdf" target="_blank"><p>Fiche d'inscription</p></a>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12 col-centered">
      <a href="/doc/stage-fiche-sanitaire.jpg" target="_blank"><p>Fiche sanitaire</p></a>
    </div>
  </div>
</div>
</div>
</section>


{{ end }}
