{{ define "main" }}

{{ partial "banner.html" . }}

<section class="container">
  <div class="description-top">
  <p class="lead">{{ .Description | markdownify }}</p>
  </div>
</section>

<!--<section class="container">
  <div class="stage">
    {{ range .Data.Pages }}
    <h2>{{ .Params.title }}</h2>
    <h3 style="font-size:2.4rem;font-weight: 600;">{{ .Params.subtitle }}</h3>
    <h3>{{ .Params.quand }}</h3>
    <p>{{ .Params.qui }}</p>
    <img src="/doc/stages/stage-aout-2018.png" alt="Stage pâques" class="text-center">
    <h3>{{ .Params.heure }}</h3>
    <p>{{ .Params.ps }}</p>
    <br>
    <h3>{{ .Params.tarif | markdownify }}</h3>
    <p style="margin-top:2rem;">Renseignements et inscription : {{ .Params.tel }}<br>pslmontchat@outlook.fr</p>
  </div>
      {{ end }}
      <div class="stage-doc">
      <div class="container-stage">
        <h3 style="margin-bottom:3rem;">Documents à télécharger pour l'inscription</h3>
    <div class="row">
    <div class="col col-lg-4 col-md-6 col-sm-12 col-centered">
      <a href="/doc/stages/stage-reservation.pdf" target="_blank">
       <img src="/img/icon-doc-b.png" alt="doc" width="60rem">
       <p>Fiche de réservation</p></a>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12 col-centered">
      <a href="/doc/stages/stage-inscription.pdf" target="_blank">
        <img src="/img/icon-doc-b.png" alt="doc" width="60rem">
        <p>Fiche d'inscription</p></a>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12 col-centered">
      <a href="/doc/stages/stage-fiche-sanitaire.jpg" target="_blank">
        <img src="/img/icon-doc-b.png" alt="doc" width="60rem">
        <p>Fiche sanitaire</p></a>
    </div>
  </div>
</div>
</div>
</section>
-->
<section class="container">
<div class="description-deroule">
<div class="content">
  <p>{{ .Content | markdownify }}</p>
</div>
</div>
</section>


{{ end }}
